@import "./_variables.scss";

.inline-wrap {
	display: inline-block;
}

.full-wrap {
	display: block;
	width: 100%;
}

.ant-btn {
	&.btn-brand-1 {
		@include custom-btn($brand_1, $white);
	}
	&.btn-brand-2 {
		@include custom-btn($brand_2, $white);
	}
	&.btn-brand-3 {
		@include custom-btn($brand_3, $white);
	}
	&.btn-primary {
		@include custom-btn($primary_color, $white);
	}
	&.btn-danger {
		@include custom-btn($danger_color, $white);
	}
	&.btn-success {
		@include custom-btn($success_color, $white);
	}
	&.btn-warning {
		@include custom-btn($warning_color, $white);
	}
	&.btn-info {
		@include custom-btn($info_color, $white);
	}
	&.btn-secondary {
		@include custom-btn($secondary_color, $white);
	}
	&.btn-dark {
		@include custom-btn($dark_color, $white);
	}
	&.btn-success-metalic {
		@include custom-btn($metalic_green, $white);
	}
	&.btn-white {
		@include custom-btn($white, $font_color);
		border: 1px solid $border_color;
	}
	&.btn-sm {
		padding: 4px 11px;
		font-size: 12px;
		@include radius(3px);
		@media only screen and (max-width: 1599px) {
			font-size: 11px;
		}
	}
	&.btn-md {
		padding: 6px 12px;
		font-size: 13px;
		@include radius(3px);
		@media only screen and (max-width: 1599px) {
			font-size: 12px;
		}
	}
	&.btn-lg {
		padding: 14px 18px;
		font-size: 16px;
		@media only screen and (max-width: 1599px) {
			font-size: 14px;
		}
	}
	&.btn-link {
		border: none !important;
		padding: 0 !important;
		color: $font_color;
		text-align: left !important;
		background: transparent !important;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		height: auto !important;
		&:hover {
			background: transparent !important;
			color: $brand_1;
			padding: 0 !important;
		}
		&.primary {
			color: $primary_color;
		}
		&.danger {
			color: $danger_color;
		}
		&.warning {
			color: $warning_color;
		}
		&.info {
			color: $info_color;
		}
		&.success {
			color: $success_color;
		}
		&.brand_1 {
			color: $brand_1;
		}
		&.brand_2 {
			color: $brand_2;
		}
		&.brand_3 {
			color: $brand_3;
		}
		&.white {
			color: $white;
		}
		&.radioselect {
			color: $radioselect;
		}
		&.radio_back {
			color: $radio_back;
		}
	}

	&.btn-card {
		width: 100%;
		height: initial;
		@include radius(10px !important);
		padding: 15px;
		&:hover,
		&:active {
			@include transform(none !important);
			svg {
				margin-right: -5px;
			}
		}
		@media only screen and (max-width: 1199px) {
			padding: 8px;
		}
		position: relative;
		border: 1px solid $border_color;
		display: block;
		text-align-last: left;
		.title {
			display: inline-block;
			font-size: 11px;
			padding: 20px 10px 0;
			text-transform: uppercase;
			font-weight: 500;
			@media only screen and (max-width: 1199px) {
				padding: 27px 0 0;
			}
		}
		svg {
			font-size: 34px;
			position: absolute;
			right: 13px;
			top: 13px;
			@include transition(all 200ms linear);
			@media only screen and (max-width: 1599px) {
				font-size: 30px;
			}
			@media only screen and (max-width: 1199px) {
				width: 23px;
				margin-top: -5px;
			}
		}
		.value {
			font-size: 22px;
			padding: 0 10px;
			font-weight: 600;
		}
	}

	@media only screen and (max-width: 1599px) {
	}
}

.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
	color: $secondary_color !important;
	background: $light_grey !important;
	svg {
		color: $secondary_color !important;
	}
}

.ant-input-search-large .ant-input-search-button {
	height: 40px !important;
	.anticon {
		font-size: 14px;
	}
}
