@import "./_variables.scss";

.root-layout {
	height: 100%;

	.logo {
		height: 64px;
		color: $white;
		font-weight: 700;
		font-size: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.layout-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		padding-left: 20px;
		.header-left {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 30px;
		}
		.header-right {
			height: 100%;
			.header-dropdown-trigger {
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				column-gap: 10px;
				padding-right: 10px;
				background-color: $brand_3;
				cursor: pointer;
				.ant-avatar {
					background-color: $primary_color;
				}
				.user-info {
					display: flex;
					row-gap: 10px;
					justify-content: space-between;
					flex-direction: column;
					color: $primary_color;
					@media only screen and (max-width: 767px) {
						display: none;
					}
					.full-name {
						span {
							font-weight: $font_bold;
						}
					}
					p {
						line-height: 1;
						height: auto;
						width: auto;
						margin: 0;
						padding: 0;
					}
					.company {
						text-align: right;
					}
				}
			}
		}
	}
	.layout-sider {
		background: $primary_color;
		&.ant-layout-sider-collapsed {
			@media only screen and (max-width: 767px) {
				display: none;
			}
		}
		.ant-layout-sider-children {
			.ant-menu-item,
			.ant-menu-dark {
				background: $primary_color;
				svg {
					color: $white;
				}

				&.ant-menu-item-selected {
					background: $light_grey;
					color: $primary_color;
					font-weight: $font_semibolder;
					svg {
						color: $primary_color;
					}
				}
			}
		}
	}
	.layout-main {
		height: 100%;
		overflow: auto;
		padding: 30px;
		@media only screen and (max-width: 767px) {
			padding: 10px;
		}
	}
}
