@import "./_variables.scss";

.table-wrapper {
	.tableHead {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: transparent;
		.table-titles {
			* {
				padding: 0;
				margin: 0;
			}
			.table-title {
				font-weight: bold;
			}
		}
		.tableControls {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			@media only screen and (max-width: 767px) {
			}
			.lastUpdate {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				font-size: 10px;
				.title {
					color: $font_color;
				}
				.time {
					font-weight: $font_bold;
					color: $primary_color;
				}
			}
		}
	}
	.ant-table-title {
		background: transparent !important;
		border: none !important;
	}
	.ant-table-container {
		background: $white;
	}
	.ant-table {
		background: transparent;
	}
}
