// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

// Colors
$primary_color: var(--primaryColor);
$secondary_color: var(--secondary_color);
$dark_color: var(--dark_color);
$danger_color: var(--danger_color);
$success_color: var(--success_color);
$warning_color: var(--warning_color);
$info_color: var(--info_color);
$radioselect: var(--radioselect);
$radio_back: var(--radio_back);
$brand_1: var(--brand_1);
$brand_2: var(--brand_2);
$brand_3: var(--brand_3); // set third color
$white: var(--white);
$black: var(--black);
$light_grey: var(--light_grey);
$metalic_green: var(--metalic_green);
$pageTitleColor: var(--pageTitleColor);

// Spesific Colors
$border_color: var(--border_color);
$font_color: var(--font_color);
$body_color: var(--body_color);
$active_color: var(--active_color);
$gradientbg_1: var(--gradientbg_1);
$gradientbg_2: var(--gradientbg_2);
$containerBG: var(--containerBG);
$headerBg: var(--headerBg);
$tableHover: var(--tableHover);

// Font Weights
$font_bold: 700;
$font_semibolder: 600;
$font_semibold: 500;
$font_regular: 400;
$font_light: 300;
$font_extralight: 200;

// media queries
$breakpoints-xs: (
  max-width: 576px
);
$breakpoints-sm: (
  max-width: 768px
);
$breakpoints-md: (
  max-width: 992px
);
$breakpoints-lg: (
  max-width: 1200px
);
$breakpoints-xl: (
  min-width: 1201px
);

$font_family: 'Open Sans', sans-serif;

@import './mixins';
