@import "./_fontface";
@import "./_variables";

:root {
	--firstColor: #fff;
	--secondColor: #fff;
}

html {
	height: 100%;
}

.root-style {
	min-width: 350px;
	width: 100%;
	overflow-x: auto;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: $font_family !important;
	overflow: hidden;
	* {
		font-family: $font_family !important;
	}
}
.padding-bottom-40 {
	padding-bottom: 40px;
}
// .ant-layout {
//   background-color: #fff !important;
// }

.changed_row {
	animation-name: flash;
	animation-iteration-count: 3;
	animation-duration: 1s;
	color: #fff !important;
}

@keyframes flash {
	0% {
		background: #001529ea;
		background-color: #001529ea;
	}
	25% {
		background: #025bafbb;
		background-color: #025bafbb;
	}
	50% {
		background: #001529ea;
		background-color: #001529ea;
	}
	75% {
		background: #025bafbb;
		background-color: #025bafbb;
	}
	100% {
		background: #001529ea;
		background-color: #001529ea;
	}
}

.hide-column {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

.selected-row-column {
	color: $brand_1 !important;
}

.vertical-middle {
	vertical-align: middle;
}

.ant-tabs {
	.ant-tabs-content-holder {
		padding: 15px;
		background: $white;
		border: 1px solid $border_color;
		border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
	}
	.ant-tabs-tab {
		padding: 8px 15px;
		border: 1px solid $border_color;
		background: $light_grey !important;
		font-size: 12px;
		border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
		&:first-child {
			border-top-left-radius: 5px;
			-webkit-border-top-left-radius: 5px;
			-moz-border-top-left-radius: 5px;
			border-top-right-radius: 0px;
			-webkit-border-top-right-radius: 0px;
			-moz-border-top-right-radius: 0px;
		}

		&.ant-tabs-tab-active {
			background: $white !important;
			font-weight: $font_semibold;
		}
	}
	.ant-tabs-tab + .ant-tabs-tab {
		margin: 0 0 0 -1px;
	}
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
	height: 0px !important;
}

.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
	margin: 0 !important;
}

.ant-tabs-nav-wrap {
	margin-top: 5px;
}
.ant-picker-cell-inner {
	text-align: center;
}

.ant-pagination {
	.ant-pagination-item-active {
		border-color: $primary_color !important;
		a {
			color: $primary_color !important;
		}
	}
}
