@import "./_variables";
/*1. Padding*/
.no_padding {
	padding: 0 !important;
}
.padding_5 {
	padding: 5px !important;
}
.padding_10 {
	padding: 10px !important;
}
.padding_15 {
	padding: 15px !important;
}
.padding_20 {
	padding: 20px !important;
}
.padding_25 {
	padding: 25px !important;
}
.padding_30 {
	padding: 30px !important;
}
.padding_35 {
	padding: 35px !important;
}
.padding_40 {
	padding: 40px !important;
}
.padding_45 {
	padding: 45px !important;
}
.padding_50 {
	padding: 50px !important;
}
/*1.1 Padding Top*/
.no_padding_top {
	padding-top: 0 !important;
}
.padding_top_5 {
	padding-top: 5px !important;
}
.padding_top_10 {
	padding-top: 10px !important;
}
.padding_top_15 {
	padding-top: 15px !important;
}
.padding_top_20 {
	padding-top: 20px !important;
}
.padding_top_25 {
	padding-top: 25px !important;
}
.padding_top_30 {
	padding-top: 30px !important;
}
.padding_top_35 {
	padding-top: 35px !important;
}
.padding_top_40 {
	padding-top: 40px !important;
}
.padding_top_45 {
	padding-top: 45px !important;
}
.padding_top_50 {
	padding-top: 50px !important;
}

/*1.2 Padding Bottom*/
.no_padding_bottom {
	padding-bottom: 0 !important;
}
.padding_bottom_5 {
	padding-bottom: 5px !important;
}
.padding_bottom_10 {
	padding-bottom: 10px !important;
}
.padding_bottom_15 {
	padding-bottom: 15px !important;
}
.padding_bottom_20 {
	padding-bottom: 20px !important;
}
.padding_bottom_25 {
	padding-bottom: 25px !important;
}
.padding_bottom_30 {
	padding-bottom: 30px !important;
}
.padding_bottom_35 {
	padding-bottom: 35px !important;
}
.padding-bottom-40 {
	padding-bottom: 40px !important;
}
.padding_bottom_45 {
	padding-bottom: 45px !important;
}
.padding_bottom_50 {
	padding-bottom: 50px !important;
}

/*1.3 Padding Left*/
.no_padding_left {
	padding-left: 0 !important;
}
.padding_left_5 {
	padding-left: 5px !important;
}
.padding_left_10 {
	padding-left: 10px !important;
}
.padding_left_15 {
	padding-left: 15px !important;
}
.padding_left_20 {
	padding-left: 20px !important;
}
.padding_left_25 {
	padding-left: 25px !important;
}
.padding_left_30 {
	padding-left: 30px !important;
}
.padding_left_35 {
	padding-left: 35px !important;
}
.padding_left_40 {
	padding-left: 40px !important;
}
.padding_left_45 {
	padding-left: 45px !important;
}
.padding_left_50 {
	padding-left: 50px !important;
}

/*1.4 Padding Right*/
.no_padding_right {
	padding-right: 0 !important;
}
.padding_right_5 {
	padding-right: 5px !important;
}
.padding_right_10 {
	padding-right: 10px !important;
}
.padding_right_15 {
	padding-right: 15px !important;
}
.padding_right_20 {
	padding-right: 20px !important;
}
.padding_right_25 {
	padding-right: 25px !important;
}
.padding_right_30 {
	padding-right: 30px !important;
}
.padding_right_35 {
	padding-right: 35px !important;
}
.padding_right_40 {
	padding-right: 40px !important;
}
.padding_right_45 {
	padding-right: 45px !important;
}
.padding_right_50 {
	padding-right: 50px !important;
}

/*2. Margin*/
.no_margin {
	margin: 0 !important;
}
.margin_5 {
	margin: 5px !important;
}
.margin_10 {
	margin: 10px !important;
}
.margin_15 {
	margin: 15px !important;
}
.margin_20 {
	margin: 20px !important;
}
.margin_25 {
	margin: 25px !important;
}
.margin_30 {
	margin: 30px !important;
}
.margin_35 {
	margin: 35px !important;
}
.margin_40 {
	margin: 40px !important;
}
.margin_45 {
	margin: 45px !important;
}
.margin_50 {
	margin: 50px !important;
}

/*2.1 Margin Top*/
.no_margin_top {
	margin-top: 0 !important;
}
.margin_top_5 {
	margin-top: 5px !important;
}
.margin_top_10 {
	margin-top: 10px !important;
}
.margin_top_15 {
	margin-top: 15px !important;
}
.margin_top_20 {
	margin-top: 20px !important;
}
.margin_top_25 {
	margin-top: 25px !important;
}
.margin_top_30 {
	margin-top: 30px !important;
}
.margin_top_35 {
	margin-top: 35px !important;
}
.margin_top_40 {
	margin-top: 40px !important;
}
.margin_top_45 {
	margin-top: 45px !important;
}
.margin_top_50 {
	margin-top: 50px !important;
}

/*2.2 Margin Bottom*/
.no_margin_bottom {
	margin-bottom: 0 !important;
}
.margin_bottom_5 {
	margin-bottom: 5px !important;
}
.margin_bottom_10 {
	margin-bottom: 10px !important;
}
.margin_bottom_15 {
	margin-bottom: 15px !important;
}
.margin_bottom_20 {
	margin-bottom: 20px !important;
}
.margin_bottom_25 {
	margin-bottom: 25px !important;
}
.margin_bottom_30 {
	margin-bottom: 30px !important;
}
.margin_bottom_35 {
	margin-bottom: 35px !important;
}
.margin_bottom_40 {
	margin-bottom: 40px !important;
}
.margin_bottom_45 {
	margin-bottom: 45px !important;
}
.margin_bottom_50 {
	margin-bottom: 50px !important;
}

/*2.3 Margin Left*/
.no_margin_left {
	margin-left: 0 !important;
}
.margin_left_5 {
	margin-left: 5px !important;
}
.margin_left_10 {
	margin-left: 10px !important;
}
.margin_left_15 {
	margin-left: 15px !important;
}
.margin_left_20 {
	margin-left: 20px !important;
}
.margin_left_25 {
	margin-left: 25px !important;
}
.margin_left_30 {
	margin-left: 30px !important;
}
.margin_left_35 {
	margin-left: 35px !important;
}
.margin_left_40 {
	margin-left: 40px !important;
}
.margin_left_45 {
	margin-left: 45px !important;
}
.margin_left_50 {
	margin-left: 50px !important;
}

/*2.4 Margin Right*/
.no_margin_right {
	margin-right: 0 !important;
}
.margin_right_5 {
	margin-right: 5px !important;
}
.margin_right_10 {
	margin-right: 10px !important;
}
.margin_right_15 {
	margin-right: 15px !important;
}
.margin_right_20 {
	margin-right: 20px !important;
}
.margin_right_25 {
	margin-right: 25px !important;
}
.margin_right_30 {
	margin-right: 30px !important;
}
.margin_right_35 {
	margin-right: 35px !important;
}
.margin_right_40 {
	margin-right: 40px !important;
}
.margin_right_45 {
	margin-right: 45px !important;
}
.margin_right_50 {
	margin-right: 50px !important;
}

/*Display*/
.display_none {
	display: none;
}
.display_flex {
	display: flex !important;
}
.column_flex {
	flex-direction: column;
}
.justify_center {
	justify-content: center;
}
.justify_end {
	justify-content: flex-end;
}
.justify_space_between {
	justify-content: space-between;
}
.align_center {
	align-items: center;
}
.align_end {
	align-items: flex-end;
}

.flex_1 {
	flex: 1 !important;
}

/*Scroll*/
.no_scroll {
	overflow: hidden;
}
.no_scroll_x {
	overflow-x: hidden;
}
.no_scroll_y {
	overflow-y: hidden !important;
}
.auto_scroll {
	overflow: auto;
}

/*Height*/
.full_height {
	height: 100%;
}

/*Width*/
.full_width {
	width: 100%;
}

/*Font Size*/
.ft_10 {
	font-size: 10px !important;
}
.ft_12 {
	font-size: 12px !important;
}
.ft_13 {
	font-size: 13px !important;
}
.ft_14 {
	font-size: 14px !important;
}
.ft_16 {
	font-size: 16px !important;
}

.transparent_background {
	background: transparent !important;
}

/*Font Weight*/

/*Cursors*/
.cursor_default {
	cursor: default;
}

.own_active {
	color: #28a745;
	font-weight: bold;
}

.ant-picker,
.ant-input-number {
	display: flex;
	width: 100%;
}

.filterWrapper {
	display: block;
}

.errorPageWrapper {
	width: "100%";
	height: "100vh";
	display: "flex";
	justify-content: "center";
	align-items: "center";
	flex-direction: "column";
	text-align: center;
	img {
		margin: 20px 0 30px;
		width: 100%;
		height: 350px;
	}
}

.ant-tooltip-inner {
	font-size: 12px;
}
.btn_class {
	justify-content: center;
	margin-top: 5px;
	display: "flex";
}
.tag_item {
	margin-left: 5px !important;
	@media only screen and (max-width: 450px) {
		display: block;
	}
}

.notificationTemplateSettings {
	position: relative;
	.ant-btn {
		position: absolute;
		right: 0;
		top: 15px;
		font-size: 12px;
		color: #555;
		font-weight: $font_bold !important;
		z-index: 2;
		bottom: -25px;
		top: initial;
	}
	.ant-form-item {
		position: relative;
		z-index: 1;
	}
}
.market_data_inputs {
	border: 1px solid #d2d2d2;
	border-right-width: 0;
}
.market_data_outputs {
	border: 1px solid #d2d2d2;
}
.modal {
	padding: 0;
}
.orderCreate {
	border-right: 1px solid gray;
}
.parameters_icon {
	position: absolute;
	top: 5px;
	right: 5px;
}

.text_align_right {
	text-align: end;
}
