.btn {
  color: #fff;
}

.btn:hover {
  color: #fff !important;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-light {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529 !important;
}

.btn-light:hover {
  color: #212529 !important;
}

.btn-main {
  background-color: #1c2a3f;
  border-color: #1c2a3f;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}
